.button{
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 3.2rem 0;
    cursor: pointer;
}
.button svg{
    width: 3.2rem;
    height: 3.2rem;
}
.button:hover{
    filter: brightness(80%);
    transition: filter 0.2s ease-in;
}
.green{
    background: var(--primary);
    color: var(--text-over-primary);
}
.red{
    background: var(--error);
    color: var(--text-over-error);
}